.item {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  gap: 0.75rem;
  width: 100%;
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  background: var(--gray-800);
  margin-top: 1rem;
}

.item:has(input:checked) > p {
  text-decoration: line-through;
}

.item:has(input:checked) {
  opacity: 70%;
}
.item > .itemCheck:checked {
  text-decoration: line-through;
}

.item > p {
  width: 83%;
}

.deleteBtn {
  justify-self: end;
}

.itemCheck {
  justify-self: start;
  margin-bottom: 10px;
}
