:root {
  --gray-950: #030712;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-400: #9ca3af;
  --gray-50: #f9fafb;

  --gray-600A: rgba(75, 85, 99, 0.5);

  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
  --blue-500: #3b82f6;

  --red-500: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}
:focus {
  outline: 2px solid var(--blue-500);
  outline-offset: 2px;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--gray-950);
  color: #fff;
}

@media (max-width: 600px) {
  html {
    font-size: 87.5%;
  }
}

html {
  scrollbar-gutter: stable;
}

input[type="checkbox"] {
  appearance: none;

  height: 16px;
  width: 16px;
  background: var(--gray-500);
  border: 1px solid var(--blue-500);
  border-radius: 50%;
  color: var(--gray-100);
  font-size: 0.5rem;
  line-height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input[type="checkbox"]:checked {
  background: var(--blue-500);
}

input[type="checkbox"]:checked::before {
  content: "✓";
}

input[type="checkbox"]:focus {
  box-shadow: 0 0 0 2px var(--brand-purple-light);
}
