:root {
  --gray-950: #27272a;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-400: #9ca3af;
  --gray-50: #f9fafb;

  --gray-600A: rgba(75, 85, 99, 0.5);

  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
  --blue-500: #3b82f6;

  --red-500: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}
:focus {
  outline: 3px solid var(--blue-500);
  box-shadow: 0 0 0 2px var(--blue-500);
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  background: #030712;
  color: #fff;
}

@media (max-width: 600px) {
  html {
    font-size: 87.5%;
  }
}
